<div class="register-container" th:fragment="edit-profile-normal-login">
    <h2>Modifica la password</h2>
    <form @submit.prevent="validateForm" action="#" method="post" novalidate
          ref="editForm" th:action="@{/edit-profile}">
        <input name="role" th:value="${false}" type="hidden"/>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="form-floating mb-3">
            <input class="form-control" id="old-password" name="oldPassword" placeholder="vecchia password" required
                   @input="validateForm" type="password" v-model="oldPassword"/>
            <label for="old-password">Vecchia password</label>
            <span class="material-symbols-rounded" id="show-old-password" onclick="toggleOldPsw()">visibility</span>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${pswCheck}">La vecchia
                password non corrisponde
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 v-if="errors.oldPassword.length > 0">
                <strong>Errore:</strong> {{ errors.oldPassword[0] }}
            </div>
        </div>
        <div class="form-floating mb-3">
            <input @input="validateNewPassword" class="form-control" id="newPassword" name="newPassword"
                   placeholder="nuova password" type="password" v-model="newPassword"/>
            <label for="newPassword">Nuova password</label>
            <span class="material-symbols-rounded" id="show-new-password" onclick="toggleNewPsw()">visibility</span>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 v-if="errors.newPassword.length > 0">
                <strong>Errore.</strong>
                <ul>
                    <li :key="error" v-for="error in errors.newPassword">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="confirmPassword" name="confirmPassword"
                   @input="validateConfirmPassword"
                   placeholder="conferma nuova password" type="password" v-model="confirmPassword"/>
            <label for="confirmPassword">Conferma password</label>
            <span class="material-symbols-rounded" id="show-password-confirm"
                  onclick="toggleConfirmPsw()">visibility</span>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 v-if="errors.confirmPassword.length > 0">
                <strong>Errore.</strong> {{ errors.confirmPassword[0] }}
            </div>
        </div>
        <div class="d-flex gap-2">
            <input :disabled="isFormInvalid" class="form-control btn btn-outline-primary" type="submit" value="Salva"/>
        </div>
    </form>
</div>