<div class="register-container" th:fragment="edit-profile-normal-login">
    <h2>Modifica la password</h2>
    <form @submit.prevent="validateFormFirstLogin" action="#" method="post" novalidate
          ref="editContactForm" th:action="@{/edit-profile}">
        <input name="role" th:value="${false}" type="hidden"/>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="form-floating mb-3">
            <input class="form-control" id="old-password" name="oldPassword" placeholder="vecchia password" required
                   title="" type="password" v-model="oldPassword"/>
            <label for="old-password">Vecchia password</label>
            <span class="material-symbols-rounded" id="show-old-password" onclick="toggleOldPsw()">visibility</span>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${pswCheck}">La vecchia
                password non corrisponde
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errors.oldPassword">La
                password è richiesta
            </div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="newPassword" name="newPassword" placeholder="nuova password" title=""
                   type="password" v-model="newPassword"/>
            <label for="newPassword">Nuova password</label>
            <span class="material-symbols-rounded" id="show-new-password" onclick="toggleNewPsw()">visibility</span>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: left;"
             v-if="errors.newPassword">
            La password non rispetta i requisiti:
            <ul>
                <li>minimo 8 caratteri</li>
                <li>deve includere una lettera maiuscola</li>
                <li>deve includere una lettera minuscola</li>
                <li>deve includere un numero</li>
                <li>deve includere un carattere speciale</li>
            </ul>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="confirmPassword" name="confirmPassword"
                   placeholder="conferma nuova password" title=""
                   type="password" v-model="confirmPassword"/>
            <label for="confirmPassword">Conferma password</label>
            <span class="material-symbols-rounded" id="show-password-confirm"
                  onclick="toggleConfirmPsw()">visibility</span>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errors.confirmPassword">Le
            password non corrispondono
        </div>
        <div class="d-flex gap-2">
            <input class="form-control btn btn-outline-primary" type="submit" value="Salva"/>
        </div>
    </form>
</div>