<div class="form-container" th:fragment="insert-system">
    <h2>Inserisci impianto</h2>
    <form @submit.prevent="validateSystemForm" id="systemForm" method="post" novalidate ref="systemForm"
          th:action="@{/admin/insert-system}" th:object="${system}">
        <div class="mb-3">
            <label class="form-label" for="name">Nome impianto</label>
            <input aria-describedby="helpId" class="form-control" id="name" name="name"
                   placeholder="Es. Impianto idraulico"
                   @input="validateSystemName" type="text" v-model="systemName"/>
            <small class="text-muted" id="helpId">Inserisci il nome del nuovo impianto</small>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 v-if="systemErrors.systemName.length > 0">
                <strong>Errore:</strong>
                <ul>
                    <li :key="error" v-for="error in systemErrors.systemName">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="siteId">Sede</label>
            <select class="form-select form-select-lg" id="siteId" name="siteId" v-model="selectedSiteId">
                <option selected value="">Seleziona una sede....</option>
                <option :key="item.id" :value="item.id" v-for="item in sites">{{ item.name }}</option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 v-if="systemErrors.selectedSiteId.length > 0">
                <strong>Errore:</strong>
                <ul>
                    <li :key="error" v-for="error in systemErrors.selectedSiteId">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <button :disabled="isSystemFormInvalid" class="btn btn-primary" type="submit">Invia</button>
        </div>
    </form>
</div>