<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="/img/site/favicon.png" rel="icon" type="image/x-icon">
    <link href="/img/site/favicon.png" rel="shortcut icon" type="image/x-icon">
    <meta content="IT" http-equiv="Content-Language">
    <meta content="Frigotermica S.R.L." name="copyright">
    <meta charset="UTF-8"/>
    <title>TeMa | Modifica password</title>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <meta content="Edit profile password" name="description">
    <meta content="psw" name="keywords">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            rel="stylesheet"
    />
    <link href="/css/style.css" id="theme-stylesheet-main" rel="stylesheet" type="text/css"/>
    <script
            crossorigin="anonymous"
            defer
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    ></script>
    <script
            crossorigin="anonymous"
            defer
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script defer src="/js/editProfileValidation.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="editForm">
    <div sec:authorize="hasRole('USER_FIRSTLOGIN')"
         th:replace="~{fragments/edit-profile-first-login :: edit-profile-first-login}">
    </div>
    <div sec:authorize="hasRole('ADMIN') or hasRole('USER')"
         th:replace="~{fragments/edit-profile-normal-login :: edit-profile-normal-login}">
    </div>
</main>
</body>