<div class="main-contact-card-container" th:fragment="edit-site">
    <form ref="editSiteForm" action="#" th:action="@{/admin/edit}" th:object="${site}" method="post" @submit.prevent="validateSiteForm" novalidate>
        <input type="hidden" name="tableName" th:value="'sites'" />
        <input type="hidden" th:field="*{id}" />
        <div class="view-contact-title">
            <input class="text-field" th:field="*{name}" name="name" v-model="siteName" id="name" title="" type="text" placeholder="Nome sede" required/>
            <div
                    v-if="siteErrors.siteName"
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
            >
                <strong>Errore.</strong> Inserisci il nome per la sede.
            </div>

            <input class="text-field" th:field="*{address}" name="address" v-model="address" id="address" title="" type="text" placeholder="Indirizzo" required/>

        </div>

        <div class="edit-button-container">
            <input class="edit-contact-button" type="submit" value="Save" />
        </div>
    </form>
    <div class="edit-button-container">
        <input class="edit-contact-button" type="submit" @click="cancel" value="Cancel" />
    </div>
    <form ref="cancel" action="/admin/view-sites" method="get"></form>

</div>