<div class="main-contact-card-container" th:fragment="edit-user">
    <form ref="editContactForm" action="#" th:action="@{/admin/edit}" th:object="${user}" method="post" @submit.prevent="validateForm" novalidate>
        <input type="hidden" name="tableName" th:value="'users'" />
        <input type="hidden" th:field="*{id}" />
        <div class="view-contact-title">
            <input class="text-field" th:field="*{name}" name="name" v-model="name" id="name" title="" type="text" placeholder="Nome" required/>
            <div class="error-message" v-if="errors.name">Please enter your first name</div>

            <input class="text-field" th:field="*{surname}" name="surname" v-model="surname" id="surname" title="" type="text" placeholder="Cognome" required/>
            <div class="error-message" v-if="errors.surname">Please enter your last name</div>

        </div>
        <div class="contact-card-container">

            <div>
                <input class="text-field" th:field="*{username}" v-model="username" id="username" name="username" title="" type="text" placeholder="Username" required/>
                <div class="error-message" v-if="errors.username">Username must be at least 4 characters</div>
                <div th:if="${usernameCheck}">Username already existing</div>
            </div>

            <div>
                <input class="text-field" th:field="*{email}" v-model="email" id="email" name="email" title="" type="text" placeholder="Email" required/>
                <div class="error-message" v-if="errors.email">Username must be at least 4 characters</div>
            </div>
            <div>
                <!-- <input type="hidden" name="reset-psw" value="false"> -->
                <label for="reset-psw" class="view-label">Reset password?</label>
                <input class="text-field" id="reset-psw" name="reset-psw" type="checkbox" value="true" />
            </div>
        </div>
        <div class="edit-button-container">
            <input class="edit-contact-button" type="submit" value="Save" />
        </div>
    </form>
    <div class="edit-button-container">
        <input class="edit-contact-button" type="submit" @click="cancel" value="Cancel" />
        <input class="edit-contact-button delete-btn" type="submit" @click="submitDeleteForm" value="Delete" />
    </div>
    <form ref="cancel" action="/admin/view-users" method="get"></form>

</div>