<div class="register-container" th:fragment="edit-user">
    <h2>Modifica dati utente</h2>
    <form @submit.prevent="validateForm" action="#" method="post" novalidate ref="editContactForm"
          th:action="@{/admin/edit}" th:object="${user}">
        <input name="tableName" th:value="'users'" type="hidden"/>
        <input th:field="*{id}" type="hidden"/>
        <div class="form-floating mb-3">
            <input class="form-control" id="username" name="username" placeholder="" required th:field="*{username}"
                   title="" type="text" v-model="username"/>
            <label for="username">Username</label>
        </div>
        <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                v-if="errors.username"
        >
            <strong>Errore.</strong> L'username deve avere minimo 4 caratteri
        </div>
        <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                th:if="${usernameCheck}"
        >
            <strong>Errore.</strong> L'username è già esistente
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="email" name="email" placeholder="" required th:field="*{email}" title=""
                   type="text" v-model="email"/>
            <label for="email">Email</label>
        </div>
        <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                v-if="errors.email"
        >
            <strong>Errore.</strong>
            L'email presenta degli errori.
            <ul>
                <li>è vuota</li>
                <li>non ha un corretto formato</li>
            </ul>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="name" name="name" placeholder="" required th:field="*{name}" title=""
                   type="text" v-model="name"/>
            <label for="name">Nome</label>
        </div>
        <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                v-if="errors.name"
        >
            <strong>Errore.</strong> Inserisci il nome.
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="surname" name="surname" placeholder="" required th:field="*{surname}"
                   title="" type="text" v-model="surname"/>
            <label for="surname">Cognome</label>
        </div>
        <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                v-if="errors.surname"
        >
            <strong>Errore.</strong> Inserisci il cognome.
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-check form-switch content">
                <label class="form-check-label" for="reset-psw">Reset password?</label>
                <input class="form-check-input" id="reset-psw" name="reset-psw" type="checkbox" value="true"/>
            </div>
        </div>
        <div class="d-flex gap-2">
            <input class="form-control btn btn-outline-primary" type="submit" value="Salva"/>
            <input @click="cancel" class="form-control btn btn-outline-danger" type="button" value="Annulla"/>
        </div>
    </form>
    <form action="/admin/view-users" method="get" ref="cancel"></form>
</div>