<div class="main-contact-card-container" th:fragment="edit-operation">
    <div ref="dataDiv"
         th:data-info="|{'date': '${#strings.escapeJavaScript(op.date)}', 'counter': '${op.hoursSpent}', 'selectedSiteId': '${op.siteId}', 'selectedSystemId': '${op.systemId}', 'selectedUserId': '${op.userId}'}|">
        <div>
            <form @submit.prevent="validateForm" class="insert-operation-form" id="operationForm" method="post"
                  novalidate ref="operationForm" th:action="@{/admin/edit}" th:object="${operation}">
                <h1>Modifica manutenzione</h1>
                <div class="mb-3 form-group horizontal-layout">
                    <input name="tableName" th:value="'operations'" type="hidden"/>
                    <div class="form-item">
                        <input th:field="${op.id}" type="hidden"/>
                        <label class="form-label" for="date">Data e ora esecuzione</label>
                        <input
                                aria-describedby="helpId"
                                class="form-control"
                                id="date"
                                name="date"
                                placeholder=""
                                type="datetime-local"
                                v-model="date"
                                @input="validateDate"
                        />
                        <small class="text-muted" id="helpId">Inserisci la data in cui è stata eseguita la
                            manutenzione</small>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                role="alert"
                                v-if="errors.date"
                        >
                            <strong>Errore.</strong> Inserisci una data.
                        </div>
                    </div>
                    <div class="mb-3 form-item">
                        <label class="form-label" for="description">Descrizione</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                                  th:field="${op.description}"
                                  @input="validateDescription" v-model="description"></textarea>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                role="alert"
                                v-if="errors.description"
                        >
                            <strong>Errore.</strong> {{ errors.description }}
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-item horizontal-layout">
                    <div class="form-item">
                        <label class="form-label" for="siteId">Sede</label>
                        <select
                                class="form-select form-select-lg"
                                id="siteId"
                                name="siteId"
                                v-model="selectedSiteId"
                                @change="validateSite"
                        >
                            <option selected value="">Seleziona una...</option>
                            <option :key="site.id" :value="site.id" v-for="site in sites">{{ site.name }}</option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                role="alert"
                                v-if="errors.selectedSiteId"
                        >
                            <strong>Errore.</strong> Seleziona una sede.
                        </div>
                    </div>
                    <div class="mb-3 form-item">
                        <label class="form-label" for="systemId">Impianto</label>
                        <select
                                class="form-select form-select-lg"
                                id="systemId"
                                name="systemId"
                                v-model="selectedSystemId"
                                @change="validateSystem"
                        >
                            <option selected v-if="filteredSystems.length > 0" value="">Seleziona una...</option>
                            <option disabled selected v-if="filteredSystems.length === 0" value="">Nessun impianto per
                                la sede selezionata
                            </option>
                            <option :key="system.id" :value="system.id" v-for="system in filteredSystems">{{ system.name
                                }}
                            </option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                role="alert"
                                v-if="errors.selectedSystemId"
                        >
                            <strong>Errore.</strong> Seleziona un impianto.
                        </div>
                    </div>
                    <div class="mb-3 form-item">
                        <label class="form-label" for="userId">Utente</label>
                        <select
                                class="form-select form-select-lg"
                                id="userId"
                                name="userId"
                                v-model="selectedUserId"
                                @change="validateUser"
                        >
                            <option selected value="">Seleziona una...</option>
                            <option :key="user.id" :value="user.id" v-for="user in users">({{ user.id }}) {{
                                user.username }}: {{ user.name }} {{ user.surname }}
                            </option>
                        </select>
                        <div
                                class="alert alert-danger alert-dismissible fade show"
                                role="alert"
                                v-if="errors.selectedUserId"
                        >
                            <strong>Errore.</strong> Seleziona un utente.
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-group counter-container">
                    <label class="form-label" for="hoursSpent">Ore impiegate</label>
                    <div @click="decrease(5)" class="counter-button" tabindex="0">-5</div>
                    <div @click="decrease(1)" class="counter-button" tabindex="0">-1</div>
                    <div @click="decrease(0.5)" class="counter-button" tabindex="0">-0.5</div>
                    <input :value="formattedCounter" class="counter-input" id="hoursSpent" name="hoursSpent" readonly
                           type="number">
                    <div @click="increase(0.5)" class="counter-button" tabindex="0">+0.5</div>
                    <div @click="increase(1)" class="counter-button" tabindex="0">+1</div>
                    <div @click="increase(5)" class="counter-button" tabindex="0">+5</div>
                </div>
                <button
                        class="btn btn-outline-primary center-button-insert-op"
                        type="submit"
                        :disabled="isFormInvalid"
                >
                    Invia
                </button>
            </form>
        </div>
    </div>
</div>
